* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    font-family: 'Arial', sans-serif;
    background-image: url(nicefuture.jpg); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #000874;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.particles {
    position: absolute;
}
.container {
    background-color: rgba(153, 153, 161, 0.45);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
.project {
    position: relative; /* Positioning context for the tooltip */
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}
.project:hover {
    transform: scale(1.05);
    background-color: #ccc;

}
a {
    text-decoration: none;    
}
li {
    color: #000549;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
p {
    color: #ccc;
    font-size: 1.2em;
}

span{
    font-size: 0.6em;
    font-weight: normal;
}

.tooltip {
    visibility: hidden; 
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 2; 
    bottom: 10%; 
    left: 80%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent; 
}

.project:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
